@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

@tailwind base;
@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    -moz-appearance: textfield !important;
  }
}
.frmb-control ui-sortable{
  border: none;
}
.frmb-control.ui-sortable > *{
  font-size: 14px;
  font-weight: 600;
}
.form-wrap.form-builder .frmb-control li{
  box-shadow: none;
}
@tailwind components;
@tailwind utilities;